<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShopCartAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BA737561E1F398900AD6070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA7376F1E1F398900AD6070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA7377A1E1F398900AD6070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
